/* CSS Document */

body
{
	min-width:1000px !important;
}

h1
{
	font-size:10px;
	text-align:right;
	color:#FFF;
	font-weight:normal;
	padding-right:10px;
}
h1 a
{
	color:#FFF;
}
h1 a:hover
{
	color:#bbc8e6; /*淡藤色 */
}

table
{
	width:100%;
	border: 1px  solid #CCC;
	border-collapse: collapse;
	margin-bottom:20px;
}
table tr th
{
	padding:3px;
	background-color:#eaf4fc; /*月白 */
	border: 1px  solid #CCC;
	font-weight:normal;
}

table tr td
{
	padding:3px;
	border: 1px  solid #CCC;
}



#wrap
{
	width:100%;
	background-color:#FFF;
	background-image:url(../images/bg_content.gif);
	background-repeat:no-repeat;
	background-position:right bottom;
}
#content
{
	text-align:left;
	min-height:400px !important;
	width:980px;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
}
header
{
	text-align:left;
	border-bottom:3px solid #bbc8e6; /*淡藤色 */
}
footer
{
	text-align:left;
	/*border-top:5px solid #bbc8e6; /*淡藤色 */

}
footer .copy
{
	color:#FFF;
	text-align:right;
	padding:10px;
}

/*---------------------------------------------------------------------
| #side
---------------------------------------------------------------------*/
#side
{
	width:225px;
	float:right;
	margin-bottom:50px;
}
#side nav
{
	display:block;
	padding:8px;
}
#side nav ul
{
	
	list-style-type: none;
}
#side nav ul.menu li
{
	padding-bottom:3px;
	padding-right:10px;
}
#side nav ul.menu li a
{
	display:block;
	width:100%;
	background-color:#5a79ba;
	
	color:#FFF;
	font-size:18px;
	padding:3px;
	
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border:2px solid #bbc8e6;
	
	background-image:url(../images/bg_menu.png);
	background-repeat:no-repeat;
	background-position: left center;
	
}

#side nav ul.menu li a span
{
	
	display:block;
	padding-left:35px;
	
}
#side nav ul.menu li a:hover
{
	color:#fef4f4; /*サクラ*/
	background-color:#192f60; /*紺青*/
	background-image:url(../images/bg_menu_on.png);

}

.twtr-widget
{
    padding-left: 10px;
}

/*---------------------------------------------------------------------
| #main
---------------------------------------------------------------------*/
#main
{
	display:block;
	width:754px;
	float:left;
}

#main h2
{
	display:block;
	margin-top:20px;
	margin-bottom:10px;
	background-repeat:no-repeat;
	background-position: left center;
	border-bottom:3px solid #bbc8e6; /*淡藤色 あわふじいろ */
	color:#32458A;
	font-size:20px;
	clear:both;
}
#main h3
{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	clear:both;
	border-bottom:1px dotted #bbc8e6; /*淡藤色 あわふじいろ */
	color:#32458A;
	font-size:16px;
}

#main h4
{
	display:block;
	clear:both;
	color:#3D58BA;
	font-size:13px;
}

#main ul
{
	padding-left:15px;
	line-height:150%;
}

#main .master_sensei,
#main .anchorpeople,
#main .youjinbou
{
	margin-bottom:20px;
}

#main .master_sensei .parson,
#main .anchorpeople .parson,
#main .youjinbou .parson
{
	width:230px;
	float:left;
	display:block;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
#main .master_sensei .parson .image,
#main .anchorpeople .parson .image,
#main .youjinbou .parson .image
{
	border:1px solid #CCC; 
	border-bottom:0px;
	padding:10px 0px 0px 0px;
}

#main .master_sensei .parson .name,
#main .anchorpeople  .parson .name,
#main .youjinbou .parson .name
{
	border:1px solid #CCC;
	border-bottom:0px;
	border-top:0px;
}
#main .master_sensei .parson .title,
#main .anchorpeople .parson .title,
#main .youjinbou .parson .title
{
	border:1px solid #CCC;
	padding:5px;
	background-color:#eaf4fc; /*月白*/
	font-size:12px;
}

/*---------------------------------------------------------------------
| #content
---------------------------------------------------------------------*/
#content #social_box
{
	margin-top:30px;
}
#content #social_box  .twitter,
#content #social_box .hatena
{
	display:block;
	width:100;
	float:left;
	padding-right:10px;
}
#content #social_box .hatena
{
	margin-top:2px;
	margin-bottom:2px;
}
#content #social_box .facebook
{
	float:left;
	width:300px;
	clear:both;
}

/*
| タイムテーブル
*/
#main .time_table tr th
{
	width:130px;
	text-align:center;
	vertical-align:top;
}

/*---------------------------------------------------------------------
| page_speakers
---------------------------------------------------------------------*/
#main.page_speakers .parson
{
	width:220px;
	float:left;
}

#main.page_speakers .parson  .title
{
	border:1px solid #CCC;
	padding:5px;
	background-color:#eaf4fc; /*月白*/
	font-size:12px;
	text-align:center;
}
#main.page_speakers .parson  .image
{
	border:1px solid #CCC;
	border-bottom:none;
	padding:10px 0px 0px 0px;
	text-align:center;
}
#main.page_speakers .parson  .name
{
	border:1px solid #CCC;
	border-bottom:none;
	border-top:none;
	padding:0px 5px 5px 0px;
	text-align:center;
}

#main.page_speakers .history
{
	width:500px;
	float:left;
	padding-left:10px;
	line-height:150%;
}
#main.page_speakers .history p
{
	padding-bottom:15px;
}

/*
| outline
*/

#main .outline_text p
{
	padding-bottom:10px;
}

/*
| スポンサー
*/
#main.page_sponsor p
{
	line-height:150%;
}
#main.page_sponsor h4
{
	padding-bottom:5px;
	padding-top:5px;
}

#main.page_sponsor ul
{
	padding:15px;
}

#main.page_sponsor .suponsor_format
{
	border:1px #CCC dotted;
	background-color:#F5F5F5;
	padding:10px;
	margin-bottom:10px;
	
}