/* CSS Document */
h1
{
	font-size:10px;
	text-align:right;
	color:#FFF;
	font-weight:normal;
	padding-right:10px;
}
h1 a
{
	color:#FFF;
}
h1 a:hover
{
	color:#bbc8e6; /*淡藤色 あわふじいろ */
}
#wrap
{
	width:100%;
	background-color:#FFF;
	background-image:url(../images/bg_content.gif);
	background-repeat:no-repeat;
	background-position:right bottom;
}
#content
{
	text-align:left;
	min-height:400px !important;
	width:980px;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
}
header
{
	text-align:left;
	border-bottom:3px solid #bbc8e6; /*淡藤色 あわふじいろ */
}
footer
{
	text-align:left;
	/*border-top:5px solid #bbc8e6; /*淡藤色 あわふじいろ */

}
footer .copy
{
	color:#FFF;
	text-align:right;
	padding:10px;
}

#side
{
	width:200px;
	float:right;
	margin-bottom:50px;
}
#side nav
{
	display:block;
	padding:10px;
}
#side nav ul
{
	
	list-style-type: none;
}
#side nav ul.menu li
{
	padding-bottom:3px;
	padding-right:10px;
}
#side nav ul.menu li a
{
	display:block;
	width:100%;
	background-color:#5a79ba;
	
	color:#FFF;
	font-size:16px;
	padding:3px;
	
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border:2px solid #bbc8e6;
	
	background-image:url(../images/bg_menu.png);
	background-repeat:no-repeat;
	background-position: left center;
	
}

#side nav ul.menu li a span
{
	
	display:block;
	padding-left:35px;
	
}
#side nav ul.menu li a:hover
{
	color:#fef4f4; /*サクラ*/
	background-color:#192f60; /*紺青*/
	background-image:url(../images/bg_menu_on.png);

}
#main
{
	display:block;
	width:779px;
	float:left;
}

#main h2
{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	background-repeat:no-repeat;
	background-position: left center;
	border-bottom:3px solid #bbc8e6; /*淡藤色 あわふじいろ */
	color:#32458A;
	font-size:20px;
	clear:both;
}
#main h3
{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	clear:both;
	border-bottom:1px dotted #bbc8e6; /*淡藤色 あわふじいろ */
	color:#32458A;
	font-size:15px;
}

#main ul
{
	padding-left:15px;
	line-height:150%;
}

#content #social_box
{
	margin-top:30px;
}
#content #social_box  .twitter,
#content #social_box .hatena
{
	display:block;
	width:100;
	float:left;
	padding-right:10px;
}
#content #social_box .hatena
{
	margin-top:2px;
	margin-bottom:2px;
}
#content #social_box .facebook
{
	float:left;
	width:300px;
}
