<!DOCTYPE HTML>
<html>
<head>
  {% include head.html %}
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1><a href="/2012">Agile Samurai Dojo Gathering</a>{% if page.title %} | {{ page.title }}{% endif %}</h1>

<div id="wrap">
<!-- start content-->
<div id="content">
	<div id="topimage">
		<!-- topimage -->
	</div>

    {% include sidebar.html %}

	<div id="main">
      {{ content }}
    </div>
	
	<p class="clear"> </p>
	<div id="sponser_link">
		<h2>スポンサー</h2>
		<ul>
			<li><span><a href="http://www.ultinet.co.jp/" target="_blank" title="株式会社アルティネット"><img alt="株式会社アルティネット" src="images/sponsor/ultinet.png" width="220" height="220"></a></span></li>
			<li><span><a href="http://www.cloudcore.jp/index.html" target="_blank" title="CloudCore"><img alt="CloudCore" src="images/sponsor/cloudcore.png" width="220" height="220"></a></span></li>
			<li><span><a href="http://www.esm.co.jp" target="_blank" title="株式会社永和システムマネジメント"><img alt="株式会社永和システムマネジメント" src="images/sponsor/esm.png" width="220" height="220"></a></span></li>
			<li><span><a href="http://www.mti.co.jp/" target="_blank" title="株式会社エムティーアイ"><img alt="株式会社エムティーアイ" src="images/sponsor/mti.png" width="220" height="220"></a></span></li>
			<li><span><a href="http://aiming-inc.com/" target="_blank" title="株式会社Aiming"><img alt="株式会社Aiming" src="images/sponsor/aiming-inc.png" width="220" height="220"></a></span></li>
		</ul>
		<p class="clear"> </p>
	</div>
	<p class="clear"> </p>
	<div id="social_box">
		
		<div class="twitter">		
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://agile-samurai-ja.github.com/dojo-gathering/2012/" data-size="large" data-hashtags="agilesamurai">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class="hatena">
			<a href="http://b.hatena.ne.jp/entry/http://agile-samurai-ja.github.com/dojo-gathering/2012/" class="hatena-bookmark-button" data-hatena-bookmark-title="Agile Samurai Dojo Gathering" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
		</div>
		<div class="facebook">
			<div class="fb-like" data-href="http://agile-samurai-ja.github.com/dojo-gathering/2012/" data-send="false" data-width="450" data-show-faces="true" data-font="verdana"></div>
			<div id="fb-root"></div>
		</div>
		<p class="clear"> </p>
	</div>
</div>
<!-- end content-->
</div>

<!-- start footer -->
<footer>
	<div class="copy"> Agile Samurai Dojo Gathering </div>
</footer>
<!-- end footer -->

</body>
</html>
